
.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed; //when scrolling, want navbar to stay
    top: 0;
    left: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
    
    &.scrolled{
        background-color: var(--main-color);
    }
    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;

        .left{          
            display: flex;
            align-items: center;
            img{        //netflix logo
                height: 25px;
                margin-right: 40px;
            }
            span{
                font-size: 18px;
                margin-right: 20px;
                cursor: pointer;
            }
        }
        
        .right{
            display: flex;
            align-items: center;

            .icons{
                margin: 0px 15px;  //0 top/bottom , 15 left/right
                cursor: pointer;

            }
            img{        //netflix logo
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
            .profile{
                .options{
                    background-color: var(--main-color);
                    display: none;
                    border-radius: 5px;
                    
                }
                span{
                    padding: 7px;
                     
                }
                &:hover{        //hover menu for settings and logout 
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        font-size: 18px;
                        span{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }
}