.navbar{
    color: white;
    font-size: 14px;
    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;

        .left{      //for className "left"
            display: flex;
            align-items: center;
            img{        //netflix logo
                height: 25px;
                margin-right: 40px;
            }
            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }
        .right{
            display: flex;
            align-items: center;

            .icons{
                margin: 0px 15px;  //0 top/bottom , 15 left/right
                cursor: pointer;
            }
            img{        //netflix logo
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        
    }
}